<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bookForm" (ngSubmit)="createBook()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('title')?.hasError('required') && getFormControl('title')?.touched">
      El title es obligatorio!
    </ion-note>

    <ion-item>
      <ion-label position="floating">Author</ion-label>
      <ion-input formControlName="author" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('author')?.hasError('required') && getFormControl('author')?.touched">
      El author es obligatorio!
    </ion-note>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!bookForm.valid">ADD</ion-button>
  </form>
  <ion-button expand="block" (click)="gotoMyBooks()">Show books</ion-button>
  <ion-button expand="block" (click)="gotoHome()">Main page</ion-button>
</ion-content>
